{% extends 'base.html' %}
{% block title %}Cadastrar Funcionário{% endblock %}
{% block content %}

<h2 class="mb-3">Cadastrar Novo Funcionário</h2>

<form method="POST">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome completo</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" required>
    </div>
    <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" name="senha" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a href="{{ url_for('admin') }}" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}